<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<div class = "container">
    <form action="/create_account" method="post">
        <div class="form-group">
            <h1>회원 가입</h1>
            <p><label for="ID"></label>
                <input type="text" id="ID" name="ID" placeholder="ID">
            </p>
            <p><label for="PW"></label>
                <input type="text" id="PW" name="PW" placeholder="PW">
            </p>
            <p><label for="PW_check"></label>
                <input type="text" id="PW_check" name="PW_check" placeholder="PW 재확인">
            </p>
        </div>
        <button type="submit">회원 가입</button>
    </form>
</div>
</body>
</html>