<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<div class = "container">
    <form action="/create_account" method="post">
        <div class="form-group">
            <h1>회원 가입</h1>
            <p><label for="id">아이디 입력</label>
                <input type="text" id="id" name="id" placeholder="ID">
            </p>
            <p><label for="pw">비밀번호 입력</label>
                <input type="password" id="pw" name="pw" placeholder="PW">
            </p>
            <p><label for="check">비밀번호 다시 입력</label>
                <input type="password" id="check" name="check" placeholder="PW 재확인">
            </p>
        </div>
        <button type="submit">회원 가입</button>
    </form>
</div>
</body>
</html>